.fa-spinner {
  position: absolute;
  top: 40%;
  left: 47%;
  font-size: 1.5rem;
  color: $color-2;
}
.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          margin: 5px;
        }
      }

      .right {
        flex: 2;
        padding: 0px 20px;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;

          .selectRooms {
            width: 100%;
            font-weight: bold;
            i {
              color: $white;
              background-color: $color-2;
              padding: 4px 5px;
              margin: 0 10px;
              border-radius: 20px;
            }
          }

          .formInput {
            width: 40%;
            min-width: 200px;
            font-weight: bold;
            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;

                font-size: 20px;
              }
            }

            input {
              width: 100%;
              height: 70%;
              background-color: rgb(240 240 240);
              padding: 5px;
              border: none;
              border-radius: 5px;
              border-bottom: 1px solid gray;
            }
          }
          @media screen and (max-width: 811px) {
            .formInput {
              width: 100%;
            }
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      .bottom {
        flex-direction: column;
      }
    }
  }
}
.selectRooms {
  position: relative;
  .roomModal {
    position: absolute;
    width: 500px;
    left: calc(45% - 250px);
    top: 25px;
    z-index: 2;
  }
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  th {
    border: 1px solid black;
    padding: 5px;
  }
  td {
    border: 1px solid black;
  }
}
.room-form {
  border: none;
  background: white;
  min-width: 490px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
  }
}
