@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$font-light: 'raleway', sans-serif;
$font-regular: 'raleway', serif;
$font-bold: 'raleway', serif;

$color-1: #003580;
$color-2: #0071c2;
$color-3: rgb(78, 80, 101);
$color-4: #0071c215;
$black: rgb(40, 40, 40);
$white: rgb(245, 245, 245);
$shadow: rgb(176, 176, 176);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    background: rgba($color-2, 0.5);
  }
}
#root {
  position: relative;
  min-height: 100vh;
  &::after {
    content: '';
    display: block;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  #root {
    &::after {
      height: 400px;
    }
  }
}
header,
main {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 25px;
}
h1 {
  font-size: 1.3rem;
  margin: 0;
}
h2 {
  font-size: 1rem;
}

a,
a:visited {
  text-decoration: none;
  color: $color-3;
}
input,
textarea {
  resize: none;
  width: 270px;
  padding: 5px;
  font-family: $font-light;
}
textarea {
  &:focus {
    box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
  }
}
button,
input[type='submit'] {
  background: $color-2;
  color: $white;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 20px 6px 20px 20px;
  border: 3px solid transparent;

  &:hover:not(.rdrDay, .rdrNextPrevButton) {
    background: $white;
    color: $color-2;
    border: 3px solid $color-2;
  }
  &:disabled {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    cursor: auto;
    &:hover {
      color: rgba(16, 16, 16, 0.3);
      border-color: rgba(118, 118, 118, 0.3);
    }
  }
}
input[type='checkbox'] {
  box-shadow: none;
  width: 20px;
  height: 20px;
  margin: 10px 0;
}

body {
  font-family: $font-regular;
  line-height: 1.4rem;
  color: $color-3;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
.loader-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  padding: 15px;
  border: 10px solid $color-1;
  border-bottom-color: transparent;
  border-radius: 50px;
  animation: rotate 1s infinite linear;
  height: 0;
  width: 0;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
